#include "silly.dtsi"
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan_composite;
        zmk,physical-layout = &physical_layout;
    };
};

&default_transform {
    col-offset = <0>;
};
