#include "silly.dtsi"

&default_transform {
    col-offset = <9>;  // 9 columns on left side
};

&kscan0 {
    col-gpios
        = <&pro_micro 7 GPIO_ACTIVE_HIGH>   // col1 - P0.11
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>   // col2 - P1.00
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>   // col3 - P0.24
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>   // col4 - P0.22
        , <&pro_micro 3 GPIO_ACTIVE_HIGH>   // col5 - P0.20
        , <&pro_micro 2 GPIO_ACTIVE_HIGH>   // col6 - P0.17
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>  // rthumb1 (P0.09 - reversed)
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>  // rthumb2 (P0.10 - same)
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>  // rthumb3 (P1.11 - reversed)
        ;
};
